

{% extends "base.html" %}

{% block title %} HOME {% endblock %}


{% block content %}




<section id="inputs">


<form action="/response", method="POST">
  <label for="converting-from">Converting From:</label>
  <input type="text" name="converting-from" id="converting-from"><br>
  <label for="converting-to">Converting To:</label>
  <input type="text" name="converting-to" id="converting-to"><br>
  <label for="converting-amount">Amount</label>
  <input type="text" name="amount" id="converting-amount"><br><br>
  <input type="submit" value="Convert">
</form> 


</section>


{% endblock %}
